/* 
    Document   : vistosi-shop_en.css
    Created on : 4-mag-2010, 18.43.58
    Author     : emiliano
    Description:
        Purpose of the stylesheet follows.
*/
/*
#btn_menu li {
    margin-right: 20px;
}

.bt_ricerca{
    background: url(../images/bt_ricerca_de.gif) no-repeat;
    width: 135px;
}

.bt_offerte{
    background: url(../images/bt_offerte_de.gif) no-repeat;
    width: 240px;
}

.bt_speciali{
    background: url(../images/bt_speciali_de.gif) no-repeat;
}
.bt_portal{
    background: url(../images/bt_portal_de.gif) no-repeat;
    width: 148px;
}
*/
