/* 
    Document   : vistosi-shop_en.css
    Created on : 4-mag-2010, 18.43.58
    Author     : emiliano
    Description:
        Purpose of the stylesheet follows.
*/
/*
.bt_ricerca{
    background: url(../images/bt_ricerca_en.gif) no-repeat;
    width: 135px;
}

.bt_offerte{
    background: url(../images/bt_offerte_en.gif) no-repeat;
}

.bt_speciali{
    background: url(../images/bt_speciali_en.gif) no-repeat;
}
.bt_portal{
    background: url(../images/bt_portal_en.gif) no-repeat;
}
*/

